.container {
    padding-bottom: 15px;
    padding-right: 40px;
    border-bottom: 7px solid #F2F5F8;

    h2 {
        margin-bottom: 6px;
    }
}

.mainDescContainer {
    margin-bottom: 13px;
    display: flex;
    gap: 20px;
    white-space: pre-wrap;

    @media (max-width: 650px) {
        flex-direction: column;
    }

    p {
        padding-top: 5px;
        font-size: 16px;

        font-weight: 400;
        line-height: 1.5;
    }

    .logoContainer {
        min-width: 130px;
    }
}

.italic {
    font-style: italic;
}


.phoneList {
    ul {
        display: flex;
        gap: 6px;

        li:not(:last-child) {
            position: relative;

            &::after {
                position: absolute;
                content: (',');
            }
        }

        a {
            color: inherit;
        }
    }
}

.mainInfoLogo {
    display: flex;
    align-items: center;
    padding-top: 10px;

    img {
        width: 50px;
        height: 55px;
    }
}