@import 'src/assets/styles/vars';

.objectsSection {
  padding: 50px 0;
}

.objectSlider {
  position: relative;
  margin-bottom: 20px;
}

.slideItem {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 23px;
  border: 2px solid #E1E0E8;
  max-width: 296px;
  max-height: 296px;

  a {
    color: #015DB9;
    font-size: 18px;
    @include ptsans-bold;
  }
}

.slideImgWrapper {
  width: 250px;
  height: 160px;
  margin-bottom: 15px;

  img {
    height: 100%;
    width: 100%;
  }
}

.slideTitleWrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.allObjLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 3px;
  background: #DE0008;
  height: 50px;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}