@import "src/assets/styles/vars";

.regionSlider {
  max-width: 1220px;
}

.slideItem {
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    text-align: center;
    max-width: 100px;
    color: #ffffff;
    @include opensans-bold;
  }
}

.slideImgWrapper {
  margin-bottom: 10px;
  width: 90px;
  height: 90px;

  img {
    width: 100%;
    height: 100%;
  }
}