.contactMap {
    margin-bottom: 30px;
    width: 755px;
    height: 318px;

    background-image: url('src/assets/img/contact-map.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}