@import 'src/assets/styles/vars';

.controlledInput {
  @include opensans-medium;
  font-size: 20px;
  padding: 20.5px 22px;
  border: none;
  width: 100%;
  background-color: #fff;
  outline: none;


  &[type="checkbox"], &[type="radio"] {
    padding: 0;
    width: auto;
    outline: none;
    order: -1;
    margin-right: 5px;
  }


  &::placeholder {
    color: #ACACAC;
  }

  &:focus {
    outline-color: #025DB9;
  }
}

.inputWrapper {
  display: flex;
  align-items: center;
  position: relative;

  p {
    min-width: 145px;
    margin-right: 6px;
  }

  span {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}

.inputEl {
  position: relative;

  .warningMessage {
    color: #F00000;
    font-size: 14px;
    line-height: 1;
    padding-top: 5px;
  }

}

.noValid {
  outline: 1px solid #F00000;
}