.container {
    padding-top: 25px;
    border-bottom: 7px solid #F2F5F8;
}

.departmentStatusTable {
    padding-top: 6px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    ul {
        display: flex;
        gap: 30px;
    }
}
