@import "src/assets/styles/vars";

.projectsSection {
  padding: 50px 0;
}

.projectSlider {
  max-width: 1220px;
}

.slideItem {
  padding: 23px 23px 15px 23px;
  background-color: #fff;
  border: 2px solid #E1E0E8;
  display: flex;
  flex-direction: column;
  height: 100%;
}


.slideImgWrapper {
  height: 160px;
  margin-bottom: 20px;

  img {
    height: 100%;
    width: 100%;
  }
}

.slideTitleWrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
  a {
    color: #015DB9;
    font-size: 18px;
    @include ptsans-bold;
  }
}

.allProjectsLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 3px;
  background: #DE0008;
  height: 50px;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}