.regVisitorSettings {
  padding-top: 20px;
  border-top: 1px solid #E3DDDD;
  h5 {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .settingsLists {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.disabledField {
  opacity: 0.5;
  pointer-events: none;
}