  .departmentTable {
    max-width: 660px;
    min-width: auto;
    grid-template-columns: minmax(35px, 0.18fr) minmax(338px, 2fr) minmax(100px, 0.82fr);
    margin-bottom: 10px;
  
    td {
      min-height: 100px;
    }
  }
  
  .usersSearchWrapper {
    svg {
      left: 120px;
      @media (max-width: 768px) {
        left: 20px;
      }
    }
    input {
      padding: 6px 20px 6px 125px;
      @media (max-width: 768px) {
        padding: 6px 20px 6px 25px;
      }
    }
  }