
section.userObjectsSection {
  padding: 15px 0 10px;
  border-bottom: 7px solid #F2F5F8;

  .objectLengthInfo {
    margin-bottom: 15px;

    span {
      font-weight: 700;
    }
  }
}

.usersObjectsTable {
  grid-template-columns: minmax(40px, 0.2fr) minmax(110px, 0.95fr) minmax(140px, 1.05fr) minmax(330px, 0.9fr) minmax(125px, 0.95fr) minmax(110px, 0.95fr);

  td {
    min-height: 100px;
  }

}

.usersObjectsSearchWrapper {
  svg {
    left: 78px;
  }

  input {
    padding: 6px 20px 6px 83px;
  }
}


