.eventTitle {
  padding: 0 0 23px;
  border-bottom: 1px solid #E3DDDD;
  max-width: 970px;
  margin-bottom: 30px;
  h2 {
    color: #000000;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 5px;
    line-height: 1.6;
  }
  p {
    font-size: 14px;
    color: #000000;
  }
}