.participantsTablePage {
    .title {
        margin-bottom: 4px;
        padding-top: 5px;
        font-size: 26px;
    }

    .participantsCount {
        margin-bottom: 8px;
        font-size: 18px;  
    }
}