.blockquote {
  display: flex;
  align-items: flex-start;
  gap: 18px;
  margin-bottom: 35px;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  .blockquoteText {
    margin-bottom: 20px;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 1.5;
  }

  footer {
    color: #9D9D9D;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
  }
}
