@import "src/assets/styles/vars";

.adminInner {
  display: flex;
  gap: 26px;
  align-items: flex-start;


  @media(max-width: 550px) {
    flex-direction: column;
  }

  h1 {
    font-size: 25px;
    color: #ffffff;
    line-height: 1.2;
    @include opensans-semi;
    margin-bottom: 25px;
  }
}

.contentWrapper {
  flex-grow: 1;
  overflow-x: auto;

  @media (max-width: 550px) {
    width: 100%;
  }
}

.adminMain {
  background: linear-gradient(270deg, rgba(0, 166, 156, 0.50) 4.78%, #286A91 39.47%);
}

ul.adminTablePagination {
  margin-bottom: 20px;
  background-color: #EDF2F6;
  padding: 8px 10px;
  border: 1px solid #C2CAC9;
  border-top: none;
  border-radius: 0 0 5px 5px;
  gap: 3px;
  li {
    &:first-child {
      display: none;
    }
    color: #000000;
    @include opensans-regular;
    font-size: 14px;
    padding: 3px 8px;
  }
}

.activeCount {
  border: 1px solid #113770;
  border-radius: 3px;
  background-color: #ffffff;
}