.reactDropzone {
  label {
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 600;
  }
}

.dropzoneArea {
  width: 230px;
  height: 108px;
  border: 1px dashed #7B7B7B;
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;

  p {
    text-align: center;
    max-width: 182px;
    font-size: 14px;
  }
}

.dropzoneWrapper {
  display: flex;
  align-items: stretch;
  gap: 17px;
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.dropzoneController {
  max-width: 210px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;

  p {
    margin-top: -3px;
  }

  button {
    max-width: 160px;
    display: flex;
    justify-content: center;
  }
}

.activeArea {
  box-shadow: 0 0 20px 10px rgba(17, 55, 112, 0.25) inset;
}

// стили текстового варианта загрузки файлов

.textFileUpload {
  label {
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 600;
  }
}

.textFileController {
  button {
    min-width: 282px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 768px) {
      min-width: auto;
      padding: 9.5px 10px;
    }
  }
}

.warningMessage {
  color: #F00000;
  font-size: 14px;
  line-height: 1;
  padding-top: 5px;
}