
section.userProjectsSection {
  padding: 15px 0 10px;
  border-bottom: 7px solid #F2F5F8;
  .projectLengthInfo {
    margin-bottom: 15px;
    span {
      font-weight: 700;
    }
  }
}

.usersProjectsTable {
  grid-template-columns: minmax(40px, 0.2fr) minmax(380px, 2.4fr) minmax(130px, 0.7fr) minmax(120px, 0.7fr);

  td {
    min-height: 100px;
  }

}

.usersProjectsSearchWrapper {
  svg {
    left: 187px;
    @media (max-width: 1024px) {
      left: 25px;
    }
  }

  input {
    padding: 6px 20px 6px 190px;
    @media (max-width: 1024px) {
      padding: 6px 20px 6px 30px;
    }
  }
}


