.eventsTable {
    grid-template-columns: minmax(35px, 0.18fr) minmax(310px, 2fr) minmax(135px, 1.2fr) minmax(180px, 1fr) minmax(130px, 1fr) minmax(115px, 1fr);
    margin-bottom: 10px;

    td {
        min-height: 100px;
    }

    td:nth-child(4),
    td:nth-child(5) {
        padding: 0 10px;
        white-space: pre-wrap;
    }
}

.eventsSearchWrapper {
    svg {
        left: 78px;
    }

    input {
        padding: 6px 20px 6px 83px;
    }
}